.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.order-summery {
  padding: 2rem;
  background-color: #ff99004d;
}
