.order-review-container {
    width:80%;
    margin-inline:auto;
    display:grid;
    grid-gap:2rem;
    grid-template-columns: 2fr 1fr;
    padding:4rem;
}

@media screen and (min-width:48rem){
    .order-review-container {
        grid-gap: 6rem;
    }
}